body {
    padding: 0;
    margin: 0;
    top: 0;
    
}

/* navbar background */
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E1EAEC;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height:5.5vh;
}


/* Everything on the navbar*/
.navitem {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.7vmin;
    color:#000000;
    font-family: 'Lato', sans-serif;
    width: 10%;
    z-index: 1;
    height: 100%;
    border: none;
}



#navhome {
    float: left;
    z-index: 1;
    
}
#navsignup {
    background-color: #4fa3c7;
    float: right;
    z-index: 1;
    
}
#navlogin {
    background-color: #4fa3c7;
    float: right;
    z-index: 1;
    
    
}

#navhome:hover {
    background-color: #3b3b3b;
}
#navsignup:hover {
    background-color: #497689;
}
#navlogin:hover {
    background-color: #497689;
}

#navtitle {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vmin;
    background-color:#536B78;
    float: left;
    width: 35%;
}

a {
    color: inherit;
    text-decoration: none;
}

.spacer {
    height:5.5vh;
    margin: 0;
}


/* Each of the three boxes on home/results */
.multicontainer {
    position: relative;
    height: 94.5vh;
    width: 100%;
    font-size: 3vmin;
    
}

#Mechanicbox {
    background-color:#EF8181;
}

#Genrebox {
    background-color:#9ECE9A;
   
    
}

#Settingbox {
    background-color:#8ACDEA;
}

/* Text in boxes on home and results */
.insidetext {
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* plus and minus icons */
.plusminus{
    position:absolute;
    top: 85%;
    width: 20%;
    background: transparent;
    border: none;
    
}

/* buttons on home and results */
.settingbutton{
    width: 100%;
    height: 100%;
    font-size: 3vmin;
    border-width:0.1vmin;
}

.settingbutton:active{background-color:rgb(167, 167, 167);}

/* class for home and results layout */
.page{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 94.5%;
}

/* grid for buttons on home and results */
.buttongrid{
    display: grid;
    row-gap: 10%;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}
/*Shouts out to the goat w3schools for making most of this code  https://www.w3schools.com/css/css_tooltip.asp*/
    /* Tooltip container */
    
    
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 3% 3%;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.2s;
    
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        text-align: center;
        width:70%;
        margin-left: 15%;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        font-size:50%;
        opacity: 1
    }
/* Thanks, w3schools! */

/* Page layout for sign up/log in */
.blankpage{
    display: grid;
    height: 94.5vh;
    align-content: center;
    padding: 0;
    grid-template-rows: 10% 10% 80%;
}

#signupbox{
    display: grid;
    row-gap: 3%;
    margin-left: 30%;
    margin-right: 30%;
    /* rows are: label, input, label, input, label, input, submit, p*/
    grid-template-rows: 5% 8% 5% 8% 5% 8% 10% 5%;
    height: auto;
}

#loginbox{
    display: grid;
    row-gap: 3%;
    margin-left: 30%;
    margin-right: 30%;
    /* Rows are: label, input, label, input, submit, p */
    grid-template-rows: 5% 8% 5% 8% 10% 5%;
    height: auto;
}

.lstext{
    font-size: 3vmin;
}

label{
    font-size: 3vmin;
    margin-top: 3%;
}

.buttonimg{
    width: 70%
}

.error {
    color: crimson;
    font-size: 3vmin;
    text-align: center;
    width: 100%;
    margin: 0;
}

.reverseerror {
    color: rgb(20, 220, 87);
    font-size: x-large;
    text-align: center;
    width: 100%;
    margin: 0;
}

/* box for saved results*/
.resultdiv {
    float: left;
    width: 28%;
    margin-left: 4%;
    margin-top: 3%;
    height: 90%;
    background-color:#8ACDEA;
    font-size: 2vmin;
}



.lstitle{
    display: flex;
    font-size: 5vmin;
    align-items: center;
    justify-content: center;
    width: 100%;
}
