{%extends "layout.html" %}
{% block content %}

{% macro build_block(things, idname) %} <!--Pass a list to create a block with those elements-->
    {% for i in range(things|length) %}
    <p class="insidetext" id={{idname + (i+1)|string }}>{{things[i]}}</p>
    {%endfor%}
{% endmacro %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script type = "text/javascript">
    var geninfo = 0
    var setinfo = 0
    var mecinfo = 0

     window.onload = function() {
        document.getElementById("genreplus").innerHTML = '0';
        geninfo = {{genreinfo|length}} /*infos are lists so take length*/
        setinfo = {{settinginfo|length}}
        mecinfo = {{mechanicinfo|length}}
        
        document.getElementById("genreplus").innerHTML = geninfo;
        }
     
     function sendData() { 
            var value = document.getElementById('input').value; 
            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify({ 'value': value }), 
                success: function(response) { 
                    document.getElementById('output').innerHTML = response.result; 
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); 
        } 
    function switchPage(t1, t2, t3) {  /* t 1,2,3 are below inputs because jinja doesnt work in js - nevermind it does but im keeping this */
        /* Sending: genre amount, settings amount, mechanics amount, */
        resstring = String(t1) + "'n" + String(t2) + "'n" + String(t3)
        window.location.href = "http://127.0.0.1:5000/results/" + resstring;

    
    }
    function plus(type){
        
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo <= 8){
                geninfo += 1;
                const child = document.createElement("p")
                child.id = "gen"+geninfo
                child.innerHTML = "Genre"
                child.className =  "insidetext"
                console.log(child.class)
                document.getElementById("genreplus").innerHTML = geninfo
                document.getElementById("Genrenr").appendChild(child);
            }
        }
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo <= 8){
                geninfo += 1;
                const child = document.createElement("p")
                child.id = "gen"+geninfo
                child.innerHTML = "Genre"
                child.className =  "insidetext"
                console.log(child.class)
                document.getElementById("genreplus").innerHTML = geninfo
                document.getElementById("Genrenr").appendChild(child);
            }
        }
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo <= 8){
                geninfo += 1;
                const child = document.createElement("p")
                child.id = "gen"+geninfo
                child.innerHTML = "Genre"
                child.className =  "insidetext"
                console.log(child.class)
                document.getElementById("genreplus").innerHTML = geninfo
                document.getElementById("Genrenr").appendChild(child);
            }
        }
    }

    function minus(type){
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo > 0){
                findid = "gen"+geninfo
                geninfo -= 1;
                console.log(findid)
                document.getElementById("genreplus").innerHTML = geninfo
                console.log(document.getElementById("Genrenr").children)
                document.getElementById("Genrenr").removeChild(document.getElementById("Genrenr").children[findid]);
            }
        }
    }

</script>

<p class="spacer">hi</p>

<div id = "bigcontainer"> 
    
    <div id = 'Genrenr' class = 'multicontainer'>
        {{build_block(genreinfo, 'gen')}}
        <button id="genreplus" class="plusminus" style="left:20%;" onclick="plus('genre')">gplus</button>
        <button id="genreminus" class="plusminus" style="right:20%;" onclick="minus('genre')">gminus</button>
    </div>
    <div id = 'Settingnr' class = 'multicontainer'>
        {{build_block(settinginfo , 'set')}}
        <button id="settingsplus" class="plusminus" style="left:20%;" onclick="plus('settings')">splus</button>
        <button id="settingsminus" class="plusminus" style="right:20%;" onclick="minus('settings')">sminus</button>
    </div>
    <div id = 'Mechanicnr' class = 'multicontainer'>
        {{build_block(mechanicinfo, 'mec')}}
        <button id="mechanicplus" class="plusminus" style="left:20%;" onclick="plus('mechanic')">mplus</button>
        <button id="mechanicminus" class="plusminus" style="right:20%;" onclick="minus('mechanic')">mminus</button>
    </div>

</div>

<input type="text" id="input"> 
<button onclick="sendData()">Send Data</button> 
<div id="output"></div> 

<h2>{{test}}</h2>
<a href="{{ '/results/%s'%settings }}" id="randomize">RANDOMIZE!</a>
<button id = "test" onclick="switchPage(geninfo, setinfo, mecinfo)">addgenre</button>


{%endblock%}