{%extends "layout.html" %}
{% block content %}

{% macro build_block(things) %} <!--Pass a list to create a block with those elements-->
    {% for i in things %}
    <p class="insidetext">{{i}}</p>
    {%endfor%}
{% endmacro %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script type = "text/javascript">
     window.onload = function() {
        document.getElementById("genreplus").innerHTML = '0';
        var geninfo = {{genreinfo|length}}
        var setinfo = {{settinginfo|length}}
        var mecinfo = {{mechanicinfo|length}}
        document.getElementById("genreplus").innerHTML = '1';
        }
     
     function sendData() { 
            var value = document.getElementById('input').value; 
            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify({ 'value': value }), 
                success: function(response) { 
                    document.getElementById('output').innerHTML = response.result; 
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); 
        } 
    function switchPage(t1, t2, t3) {  /* t 1,2,3 are below inputs because jinja doesnt work in js - nevermind it does but im keeping this */
        /* Sending: genre amount, settings amount, mechanics amount, */
        resstring = String(t1) + "'n" + String(t2) + "'n" + String(t3)
        window.location.href = "http://127.0.0.1:5000/results/" + resstring;

    
    }
    function plus(type){
        document.getElementById("genreplus").innerHTML = '0';
        if(type=="genre"){
            console.log(geninfo);
            if(geninfo <=9){
                geninfo += 1;
                console.log(geninfo);
                document.getElementById("Genrenr").appendChild(<p class="insidetext">Genre</p>);
            }
        }
    }

</script>
<p class="spacer">hi</p>

<div id = "bigcontainer"> 
    
    <div id = 'Genrenr' class = 'multicontainer'>
        {{build_block(genreinfo)}}
        <button id="genreplus" onclick="plus('genre')">gplus</button>
    </div>
    <div id = 'Settingnr' class = 'multicontainer'>
        {{build_block(settinginfo)}}
    </div>
    <div id = 'Mechanicnr' class = 'multicontainer'>
        {{build_block(mechanicinfo)}}
    </div>

</div>

<input type="text" id="input"> 
<button onclick="sendData()">Send Data</button> 
<div id="output"></div> 

<h2>{{test}}</h2>
<a href="{{ '/results/%s'%settings }}" id="randomize">RANDOMIZE!</a>
<button id = "test" onclick="switchPage(geninfo, setinfo, mecinfo)">addgenre</button>


{%endblock%}