{%extends "layout.html" %}
{% block content %}

{% macro build_block(things, idname) %} <!--Pass a list to create a block with those elements-->
    {% for i in range(things|length) %}
    <p class="insidetext" id={{idname + (i+1)|string }}>{{things[i]}}</p> <!--Dont mind the red, this is fine-->
    {%endfor%}
{% endmacro %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script type = "text/javascript">
    var geninfo = 0
    var setinfo = 0
    var mecinfo = 0

     window.onload = function() {
        geninfo = {{genreinfo|length}} /*infos are lists so take length*/
        setinfo = {{settinginfo|length}}
        mecinfo = {{mechanicinfo|length}}
        
        }
     
    
    function switchPage(t1, t2, t3) {  /* t 1,2,3 are below inputs because jinja doesnt work in js - nevermind it does but im keeping this */
        /* Sending: genre amount, settings amount, mechanics amount, */
        resstring = String(t1) + "n" + String(t2) + "n" + String(t3) + "n" + String(dim)
        window.location.href = "http://127.0.0.1:5000/results/" + resstring; 

    
    }
    function plus(type){
        
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo <= 8){
                geninfo += 1;
                const child = document.createElement("p")
                child.id = "gen"+geninfo
                child.innerHTML = "Genre"
                child.className =  "insidetext"
                document.getElementById("Genrebox").appendChild(child);
            }
        }
        
        if(type=="setting"){
            if(setinfo <= 8){
                setinfo += 1;
                const child = document.createElement("p")
                child.id = "set"+setinfo
                child.innerHTML = "Setting"
                child.className =  "insidetext"
                document.getElementById("Settingbox").appendChild(child);
            }
        }
        if(type=="mechanic"){
            if(mecinfo <= 8){
                mecinfo += 1;
                const child = document.createElement("p")
                child.id = "mec"+mecinfo
                child.innerHTML = "Mechanic"
                child.className =  "insidetext"
                document.getElementById("Mechanicbox").appendChild(child);
            }
        }
    }

    function minus(type){
        if(type=="genre"){
            console.log(geninfo)
            if(geninfo > 0){
                findid = "gen"+geninfo
                geninfo -= 1;
                document.getElementById("Genrebox").removeChild(document.getElementById("Genrebox").children[findid]);
            }
        }

        if(type=="setting"){
            if(setinfo > 0){
                findid = "set"+setinfo
                setinfo -= 1;
                document.getElementById("Settingbox").removeChild(document.getElementById("Settingbox").children[findid]);
            }
        }
        if(type=="mechanic"){
            if(mecinfo > 0 ){
                findid = "mec"+mecinfo
                mecinfo -= 1;
                document.getElementById("Mechanicbox").removeChild(document.getElementById("Mechanicbox").children[findid]);
            }
        }
    }

    var dim = 0

    function changeDim(){
        if(dim==0){
            dim=1;
            document.getElementById("2d3d").innerHTML = "3D";
            console.log('2d');
        }
        else if(dim==1){
            dim=2;
            document.getElementById("2d3d").innerHTML = "2D or 3D";
        }
        else{
            dim=0;
            document.getElementById("2d3d").innerHTML = "2D";
        }
    }

    function goToResults(){
        window.location.href = "http://127.0.0.1:5000/viewres"
    }

</script>


<div class="page">
    
    <div class="buttongrid">
    <button id = "randomize" class="settingbutton" onclick="switchPage(geninfo, setinfo, mecinfo)">RANDOMIZE</button>
    <button id = "2d3d" class="settingbutton" onclick="changeDim()">2D</button>
    <button id = "viewsavedres" class="settingbutton" onclick="goToResults()">View Saved Results</button>
    </div>

<div id = 'Genrebox' class = 'multicontainer'>
    {{build_block(genreinfo, 'gen')}}
    <button id="genreplus" class="plusminus" style="left:20%;" onclick="plus('genre')">
        <img src="/static/images/plusicon.png" class="buttonimg"></button>
    <button id="genreminus" class="plusminus" style="right:20%;" onclick="minus('genre')">
        <img src="/static/images/minusicon.png" class="buttonimg"></button>
</div>
<div id = 'Settingbox' class = 'multicontainer'>
    {{build_block(settinginfo , 'set')}}
    <button id="settingplus" class="plusminus" style="left:20%;" onclick="plus('setting')">
        <img src="/static/images/plusicon.png" class="buttonimg"></button>
    <button id="settingminus" class="plusminus" style="right:20%;" onclick="minus('setting')">
        <img src="/static/images/minusicon.png" class="buttonimg"></button>
</div>
<div id = 'Mechanicbox' class = 'multicontainer'>
    {{build_block(mechanicinfo, 'mec')}}
    <button id="mechanicplus" class="plusminus" style="left:20%;" onclick="plus('mechanic')">
        <img src="/static/images/plusicon.png" class="buttonimg"></button>
    <button id="mechanicminus" class="plusminus" style="right:20%;" onclick="minus('mechanic')">
        <img src="/static/images/minusicon.png" class="buttonimg"></button>
</div>
</div>


{%endblock%}