<!DOCTYPE html>
<html>
<head>
    <title>Game idea Generator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
    body {
        font-family: 'Inter';
    }
    </style>
</head>
<body>
    <div class="navbar">
        <p class="navitem" id="navtitle">Game idea generator</p>
        <a href="/" class="navitem" id="navhome">Home</a>
        <a href="/signup" class="navitem" id="navsignup">Sign up</a>
        <a href="/login" class="navitem" id="navlogin">Login</a>
    </div>
    <main>
        {% block content %}{% endblock%}
    </main>
    
</body>
</html>