<!DOCTYPE html>
<html>
<head>
    <title>Game idea Generator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
    body {
        font-family: 'Inter';
    }
    </style>
</head>
<body>
    <div class="navbar">
        <a class="navitem" id="navtitle" href="/">Game idea generator</a>
        <a href="/" class="navitem" id="navhome">Home</a>
        {% if logged == False %}
        <a href="/signup" class="navitem" id="navsignup">Sign up</a>
        <a href="/login" class="navitem" id="navlogin">Login</a>
        {% else %}
        <form action="{{url_for('logout')}}" method='POST' style = "height: 100%">
            <input type="submit" class="navitem" id="navlogin" value="Log Out">
        </form>
        {% endif %}
        
        
    </div>
    <main>
        <div class="spacer"></div>
        {% block content %}{% endblock%}
    </main>
    
</body>
</html>