<!DOCTYPE html>
<html>
<head>
    <title>......</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="navbar">
            <p class="navitem" id="navtitle">Game idea generator</p>
            <a href="/" class="navitem" id="navhome">Home</a>
            <a href="/signup" class="navitem" id="navsignup">Sign up</a>
            <a href="/login" class="navitem" id="navlogin">Login</a>
    </div>
    <main>
        {% block content %}{% endblock%}
    </main>
    <footer>
        <p>The Footer &copy2024</p>
    </footer>
</body>
</html>