{%extends "layout.html" %}
{% block content %}


<form action="{{url_for('signupsubmit')}}" method="POST">
    <div class="blankpage">
    <p class="lstitle">Sign up</p>
    {%if usernameFailed == True%}
    <p class='error'>Username is already in use</p>
    {%endif%}
    {%if passwordFailed == True%}
    <p class='error'>Passwords do not match</p>
    {%endif%}
    <div id="signupbox">
    <label for="username">Username:</label>
    <input type="text" name="username" class="lstext">

    <label for="password1">Password:</label>
    <input type="password" name="password1" class="lstext">

    <label for="password2">Confirm Password:</label>
    <input type="password" name="password2" class="lstext">

    <input type="submit" class="lstext">

    <p>Already have an account? <a href="/login" style="color:blue;">Login here.</a></p>
    </div>
    </div>
</form>

{%endblock%}