{% if type == "diamond" %}
{%for i in range(size)%}
    <pre>{{spacchar*(size-i-1)}}{{chara*(i+1)}}{{chara*(i)}}</pre>
        
        {%endfor%}
{%for i in range(size-1)%}
    <pre>{{spacchar*(i+1)}}{{chara*(size-1-i)}}{{chara*(size-i-2)}}</pre>
        {%endfor%}
{% else %}
{%for i in range(size)%}
    {% if type == "r" %}
        {{chara*(size-i)}}<br>
    {% elif type == "f" %}
        <pre>{{spacchar*(size-i-1)}}{{chara*(i+1)}}</pre>
    {% elif type == "rf" %}
        <pre>{{spacchar*(i)}}{{chara*(size-i)}}</pre>
    {% else %}
    {{chara*(i+1)}}<br>
    {% endif %}
{%endfor%}
{% endif %}